<section>
	<main>
	
		<h2>Vehicle Table</h2>
		
		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Brand</th>
						<th>Model</th>
						<th>Colour</th>
						<th>Date of First Registration</th>
						<th>Place of First Registration</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let veh of vehicles">
						<th scope="row">{{veh.id}}</th>
						<td>{{veh.brand}}</td>
						<td>{{veh.model}}</td>
						<td>{{veh.colour}}</td>
						<td>{{veh.dateOfFirstRegistration}}</td>
						<td>{{veh.placeOfFirstRegistration}}</td>
						<td>
							<span class="col-md-6">
								<button type="button" class="btn btn-success btn-xs btn-block" 
									routerLink="/vehicle-edit/{{veh.id}}">Edit</button>
							</span>
							<span class="col-md-6">
								<button type="button" class="btn btn-primary btn-xs btn-block" 
									(click)="deleteVehicle(veh)">Delete</button>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</section>

